.layout {
  height: 100%;

  .sections {
    width: 100%;
    //   // overflow-x: hidden;
    height: calc(100% - 100px);
    background-color: #000;
    // position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
