@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comforter&family=Fascinate&family=Josefin+Sans:wght@500&family=Roboto+Mono:ital,wght@1,200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comforter&family=Fascinate&family=Josefin+Sans:wght@500&family=Open+Sans:wght@600&family=Roboto+Mono:ital,wght@1,200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comforter&family=Fascinate&family=Josefin+Sans:wght@500&family=Nabla&family=Open+Sans:wght@600&family=Roboto+Mono:ital,wght@1,200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kaushan+Script&family=Nabla&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Spice&family=Kaushan+Script&family=Nabla&display=swap");

.onePull {
  position: absolute;
  top: 50%;
  right: 22%;
  color: #fff;

  h3 {
    font-size: 60px;
    // font-family: "Open Sans", sans-serif;
    font-family: "Nabla", cursive;
  }
}

.tuzoText {
  font-size: 80px;
  display: flex;
  position: absolute;
  top: 28%;
  left: 28%;
  color: #fff;
  // font-family: "Bungee Spice", cursive;
  // font-family: "Kaushan Script", cursive;
  font-family: "Archivo Black", sans-serif;
}
