.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 30px;
  margin-left: 2%;
}

ul {
  display: flex;
  justify-content: flex-start;
}

ul > li {
  margin: 15px;
  list-style: none;
  /* margin-right: 25px; */
}

a {
  text-decoration: none;
  color: white;
}

/* li:hover {
  border: 2px black solid; */
/* } */
